.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
}
input[id="Multiplayer"]:checked ~ .reveal-if-active{
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
  transform: scale(1);
}