<head>
  <link rel='stylesheet' href='/css/homepage.css'>
  <link rel="icon" href="/images/favicon.ico">
</head>

<body>

  <h1>Rock Paper Scissors Spock Lizard</h1>
  <br>

  <form action='/start-game' method='post'>
    <h3>Select Game Mode:</h3>
    <input type="radio" name=multiplayer id='Single Player' value='false'>
    <label for='Single Player'>Single Player</label><br>
    <input type='radio' name=multiplayer id='Multiplayer' value='true'>
    <label for='Multiplayer'>Multiplayer</label>

    <h3>Enter Player Names:</h3>
    Player 1 Name: <input type='text' name=name_1 id='Name 1'><br>
    <div class='reveal-if-active'>
      Player 2 Name: <input type='text' name=name_2 id='Name 2'><br>
    </div>

    <br>
    <input type='submit' name='Play Game!'>

  </form>

</body>
